Repository NCR-Corporation/test-pypi, pull requests merged in 2021-09, with the labels that each got.

#11 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#12 Fix merge
  .github/workflows/labels.yml
  .github/workflows/merged.yml
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#13 Updated: version
  .github/workflows/labels.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#14 Updated: Version
  .github/workflows/labels.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#17 Updated: location of steps for making labels stale
  .github/workflows/labels.yml
  .github/workflows/pr_events.yml
Labels: non-release

#18 Test update
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#19 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version

#20 Stg
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/labels.yml
  .github/workflows/merged.yml
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#22 Test fork intermediate
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#23 Added: Fork check
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#25 Added: debug print of fork var
  .github/workflows/labels.yml
  .github/workflows/pr_events.yml
Labels: non-release, sonar-passed

#28 New branch
  src/__version__.py
Labels: non-release

#29 Updated: Version
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#31 Fork branch
  .github/workflows/pr_events.yml
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#32 Removed: stg info
  .github/pull_request_template.md
Labels: non-release

#33 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#34 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#36 Add fork check
  .github/workflows/labels.yml
  .github/workflows/pr_target.yml
Labels: non-release, updated-workflows

#37 Updated: nothing
  .github/workflows/labels.yml
  README.md
Labels: non-release, updated-workflows, fork-tests-passed

#38 Updated: nothing
  .github/workflows/labels.yml
  README.md
Labels: tests-passed, has-license, updated-workflows, fork-approved

#39 Added: merging of fork and creation of new pr
  .github/workflows/labels.yml
Labels: non-release, updated-workflows

#41 Added: permissions
  .github/workflows/pr_target.yml
Labels: non-release

#43 Testing: write-all permission works
  .github/workflows/pr_target.yml
Labels: non-release

#45 Fixed: incorrect event
  .github/workflows/pr_target.yml
Labels: non-release

#47 Fixed: merge
  .github/workflows/labels.yml
Labels: non-release, updated-workflows

#52 Fixed: pr create
  .github/workflows/labels.yml
Labels: non-release, updated-workflows

#54 Fixed: pr create
  .github/workflows/labels.yml
Labels: non-release, updated-workflows

#55 Testing: Fork
  README.md
Labels: fork-tests-passed, fork-approved

#57 Fixed: added checkout to create pr
  .github/workflows/labels.yml
Labels: non-release, updated-workflows

#58 Testing: Fork
  README.md
Labels: fork-tests-passed, fork-approved

#60 Added: a couple wf to test best way to handle fork to new pr
  .github/workflows/fork_pr.yml
  .github/workflows/fork_push.yml
Labels: non-release

#61 Testing: fork
  README.md
Labels: fork-tests-passed

#62 Testing: if workflow dispatches can be triggered by github_token
  .github/workflows/dispatch_test.yml
  .github/workflows/fork_pr.yml
  .github/workflows/fork_push.yml
  .github/workflows/labels.yml
Labels: non-release

#63 Testing: fork
  README.md
Labels: fork-tests-passed, fork-approved

#66 Testing: if reopening exposes secrets to fork
  .github/workflows/pr_events.yml
Labels: non-release

#68 Testing: new flow
  .github/workflows/fork_pr.yml
  .github/workflows/fork_push.yml
  .github/workflows/labels.yml
Labels: non-release

#70 Added: code for opening new pr
  .github/workflows/fork_pr.yml
  .github/workflows/labels.yml
Labels: non-release

#71 Testing: fork
  README.md
Labels: fork-tests-passed, fork-approved

#73 Testing: removing ga203204
  .github/workflows/dispatch_test.yml
  .github/workflows/fork_push.yml
  .github/workflows/labels.yml
Labels: non-release

#74 Updated: version
  src/__version__.py
Labels: fork-tests-passed, fork-approved

#75 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#76 Added: whitesource scan
  .github/workflows/fork_pr.yml
  .github/workflows/labels.yml
  .github/workflows/pr_events.yml
  .github/workflows/pr_target.yml
Labels: non-release

#77 Added: fork pr template
  .github/workflows/fork_pr.yml
  .github/workflows/pr_target.yml
Labels: non-release

#78 Updated: version
  src/__version__.py
Labels: fork-tests-passed, fork-approved

#79 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded

#80 Updated: version
  src/__version__.py
Labels: fork-tests-passed, fork-approved

#81 Updated: version
  src/__version__.py
Labels: tests-passed, has-license, updated-version, testpypi-uploaded
